<section id="contact" class="flex flex-col w-full items-center justify-center gap-16 py-12 px-44">
    <div class="flex flex-row items-center justify-center gap-2" data-aos="fade-up" data-aos-duration="1000">
        <lucide-icon name="user-round" color="var(--color-primary)" size="32"></lucide-icon>
        <h3 class="fontStyleBold text-white text-center text-4xl contact-title">Contact</h3>
    </div>

    <div class="max-w-[700px]" data-aos="fade-up" data-aos-duration="1000">
        <p class="fontStyleLight text-white text-center text-xl contact-text">I would love to hear from you! Whether you have a question, feedback, or just want to say hello, feel free to get in touch. I will get back to you as soon as possible.</p>
    </div>

    <a href="mailto:ricardoliveira5ro@gmail.com" target="_blank" rel="noopener noreferrer" data-aos="fade-up" data-aos-duration="1000">
        <div class="flex flex-row items-center justify-center border border-white py-3 px-5 gap-3 mt-3 border-[var(--color-primary)] mailHover">
            <lucide-icon name="send" class="icon"></lucide-icon>
            <p class="fontStyleRegular text-white text-center text-lg contact-email">{{ email }}</p>
        </div>
    </a>
</section>