<div class="fixed z-30 w-full px-12 py-6">
    <ul class="flex items-center justify-center gap-8 mt-3">
        <a href=""><li class="fontStyleLight text-white text-center text-xl onHover">Home</li></a>
        <a href=""><li class="fontStyleLight text-white text-center text-xl onHover">Experience</li></a>
        <a href=""><li class="fontStyleLight text-white text-center text-xl onHover">Projects</li></a>
        <a href=""><li class="fontStyleLight text-white text-center text-xl onHover">Skills</li></a>
    </ul>
</div>
