.social-anchor {
    transition: transform 0.3s ease;
}

.social-anchor:hover {
    transform: translateY(-0.25rem);
}

.social-icon {
    transition: color 0.3s ease;
    color: white;
}

.social-icon:hover {
    color: var(--color-primary);
}

@media (max-width: 500px) {
    .socials-section {
        @apply hidden
    }           
}