<footer class="flex flex-col w-full px-48 py-14 gap-8">
    <div class="w-full h-[1px] bg-white"></div>

    <div class="flex flex-row w-full justify-between items-center">
        <p class="fontStyleRegular text-white text-center text-lg">{{ name }}
            <span class="fontStyleLight text-white text-center text-lg">/ {{ year }}</span>
        </p>

        <div class="flex flex-row items-center gap-4">
            <a href="https://github.com/ricardoliveira5ro" target="_blank" rel="noopener noreferrer" class="social-anchor">
                <lucide-icon name="github"></lucide-icon>
            </a>
            <a href="https://www.linkedin.com/in/ricardo5oliveira" target="_blank" rel="noopener noreferrer" class="social-anchor">
                <lucide-icon name="linkedin"></lucide-icon>
            </a>
        </div>
    </div>
</footer>