<div class="fixed z-30 w-full px-12 py-6 bg-[var(--color-background)] headerSection">
    <ul class="flex items-center justify-center gap-8 mt-3">
        <a (click)="onScrollTo('home')" class="homeAnchor cursor-pointer"><lucide-icon name="home" class="homeIcon"></lucide-icon></a>
        <a (click)="onScrollTo('experience')" class="main-menu"><li class="fontStyleLight text-white text-center text-xl onHover">Experience</li></a>
        <a (click)="onScrollTo('projects')" class="main-menu"><li class="fontStyleLight text-white text-center text-xl onHover">Projects</li></a>
        <a (click)="onScrollTo('skills')" class="main-menu"><li class="fontStyleLight text-white text-center text-xl onHover">Skills</li></a>
        <a (click)="onScrollTo('contact')" class="main-menu"><li class="fontStyleLight text-white text-center text-xl onHover">Contact</li></a>
        <a (click)="toggleSideMenu()" class="cursor-pointer hidden side-menu"><li><img ngSrc="../../../assets/menu.png" width="24" height="24" priority></li></a>
    </ul>
</div>