<section class="flex flex-col w-full items-center justify-center gap-5">
    <div class="flex flex-row items-center justify-center gap-2">
        <lucide-icon name="briefcase-business" color="var(--color-primary)" size="32"></lucide-icon>
        <h3 class="fontStyleBold text-white text-center text-4xl">Experience</h3>
    </div>

    <ul class="timeline">
        <li class="timeline-event">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
                <p class="timeline-event-thumbnail">June 2023 - Present</p>
                <h3>Full Stack Developer</h3>
                <h4>HN Services (BNP Paribas)</h4>
                <p><strong>Tasks:</strong><br>Working as a full-stack developer responsible for developing new features, maintaining existing code, correcting bugs, and planning new improvements. I utilize the SCRUM methodology to ensure timely delivery and continuous enhancement of the product.</p>
                <p><strong>Tech Stack:</strong><br>Java, Ext js, Javascript, SQL, JUnit, Gherkin, Git</p>
            </div>
        </li>
        <li class="timeline-event">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
                <p class="timeline-event-thumbnail">May 2022- June 2023</p>
                <h3>Full Stack Developer</h3>
                <h4>CGI</h4>
                <p><strong>Tasks:</strong><br>Focused on corrective maintenance, which involved fixing bugs and updating business logic. Additionally, I was responsible for implementing new features to enhance the functionality of the project.</p>
                <p><strong>Tech Stack:</strong><br>Java, Groovy, SQL, Javascript, Git</p>
            </div>
        </li>
        <li class="timeline-event">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
                <p class="timeline-event-thumbnail">September 2019 - October 2022</p>
                <h3>Computer Science and Engineering</h3>
                <h4>Polytechnic Institute of Setubal</h4>
                <p><strong>Bachelor's Degree</strong><br>Programming languages, Algorithms, Software patterns, Project-driven</p>
            </div>
        </li>
    </ul>
</section>
