@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700); 
/* Styling */
.timeline {
    margin: 4em auto;
    position: relative;
    max-width: 46em;
}
.timeline:before {
    background-color: white;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
}
.timeline-event {
    position: relative;
}
 .timeline-event:hover .timeline-event-icon {
	 transform: rotate(-45deg);
	 background-color: var(--color-primary);
}
.timeline-event:hover .timeline-event-thumbnail {
    color: white;
    -webkit-box-shadow: inset 40em 0 0 0 var(--color-primary);
    -moz-box-shadow: inset 40em 0 0 0 var(--color-primary);
    box-shadow: inset 40em 0 0 0 var(--color-primary);
}
.timeline-event-copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 4em;
    width: 80%;
}
.timeline-event-copy h3 {
    color: white;
	font-size: 1.75em;
}
.timeline-event-copy h4 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
    color: white;
}
.timeline-event-copy strong {
    color: white;
    font-weight: 700;
}
.timeline-event-copy p:not(.timeline-event-thumbnail) {
    color: white;
    padding-bottom: 1.2em;
    text-align: justify;
}
.timeline-event-icon {
    -webkit-transition: transform 0.2s ease-in;
    -moz-transition: transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transform: rotate(45deg);
    background-color: white;
    outline: 10px solid var(--color-background);
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
}
.timeline-event-thumbnail {
    -webkit-transition: box-shadow 0.5s ease-in 0.1s;
    -moz-transition: box-shadow 0.5s ease-in 0.1s;
    -o-transition: box-shadow 0.5s ease-in 0.1s;
    transition: box-shadow 0.5s ease-in 0.1s;
    color: var(--color-background);
    font-size: 0.75em;
    background-color: white;
    -webkit-box-shadow: inset 0 0 0 0em var(--color-primary);
    -moz-box-shadow: inset 0 0 0 0em var(--color-primary);
    box-shadow: inset 0 0 0 0em var(--color-primary);
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
}
 