<section class="flex flex-col w-full items-center justify-center gap-8 py-12">
    <div class="flex flex-row items-center justify-center gap-2">
        <lucide-icon name="folder-git-2" color="var(--color-primary)" size="32"></lucide-icon>
        <h3 class="fontStyleBold text-white text-center text-4xl">Projects</h3>
    </div>

    <div class="grid grid-cols-2 gap-24">
        <div class="flex flex-col max-w-[450px] items-start gap-4">
            <img ngSrc="../../assets/currenSee.png" alt="Description of image" width="450" height="380">
            <div class="flex flex-row items-center gap-4">
                <h3 class="fontStyleBold text-white text-center text-3xl">CurrenSee Tool</h3>
                <a href="https://github.com/ricardoliveira5ro/Currency-Conversion-Tool" target="_blank" rel="noopener noreferrer">
                    <lucide-icon name="braces" color="var(--color-primary)"></lucide-icon>
                </a>
            </div>
            <p class="fontStyleLight text-white text-justify text-base">Web app that allows users to easily convert amounts from one currency to another using real-time exchange rates</p>
            <ul class="flex flex-row gap-3">
                <li class="fontStyleRegular text-white text-base bg-[var(--color-primary)] px-3 py-1 rounded-md">Next JS</li>
                <li class="fontStyleRegular text-white text-base bg-[var(--color-primary)] px-3 py-1 rounded-md">Javascript</li>
                <li class="fontStyleRegular text-white text-base bg-[var(--color-primary)] px-3 py-1 rounded-md">Tailwind CSS</li>
            </ul>
        </div>
        <div class="flex flex-col max-w-[450px] items-start gap-4">
            <img ngSrc="../../assets/currenSee_API.png" alt="Description of image" width="450" height="380">
            <div class="flex flex-row items-center gap-4">
                <h3 class="fontStyleBold text-white text-center text-3xl">CurrenSee API</h3>
                <a href="https://github.com/ricardoliveira5ro/Currency-Conversion-API" target="_blank" rel="noopener noreferrer">
                    <lucide-icon name="braces" color="var(--color-primary)"></lucide-icon>
                </a>
            </div>
            <p class="fontStyleLight text-white text-justify text-base">Currency Conversion API provide real-time currency conversion rates between various currencies</p>
            <ul class="flex flex-row gap-3">
                <li class="fontStyleRegular text-white text-base bg-[var(--color-primary)] px-3 py-1 rounded-md">Node JS</li>
                <li class="fontStyleRegular text-white text-base bg-[var(--color-primary)] px-3 py-1 rounded-md">Express JS</li>
            </ul>
        </div>
    </div>
</section>