<section id="home" class="flex flex-col h-screen items-center justify-center gap-4 px-8 homeSection">
    <h1 class="fontStyleBold text-white text-center text-8xl">
        Ricardo Oliveira<span class="text-[var(--color-primary)]">.</span>
    </h1>
    <h3 class="fontStyleRegular text-white text-center text-5xl" >
        <span class="text-[var(--color-primary)]">Full Stack</span> Developer
    </h3>
    <a href="mailto:ricardoliveira5ro@gmail.com" target="_blank" rel="noopener noreferrer">
        <div class="flex flex-row items-center justify-center border border-white py-3 px-5 gap-3 mt-3 mailHover">
            <lucide-icon name="send" color="white" class="icon"></lucide-icon>
            <p class="fontStyleRegular text-white text-center text-lg">{{ email }}</p>
        </div>
    </a>
</section>
