<section class="flex flex-col w-full items-center justify-center gap-8 py-12">
    <div class="flex flex-row items-center justify-center gap-2">
        <lucide-icon name="folder-git-2" color="var(--color-primary)" size="32"></lucide-icon>
        <h3 class="fontStyleBold text-white text-center text-4xl">Projects</h3>
    </div>

    <div class="grid grid-cols-2 gap-24">
        @for (project of projects; track project) {
            <div data-aos="fade-up" data-aos-duration="1000" class="flex flex-col max-w-[500px] items-start gap-4">
                <img ngSrc='{{ project.imagePath }}' alt="Description of image" width="500" height="380" class="rounded-md">
                <div class="flex flex-row items-center gap-4">
                    <h3 class="fontStyleBold text-white text-center text-3xl">{{ project.name }}</h3>
                    <a href='{{ project.repositoryURL }}' target="_blank" rel="noopener noreferrer">
                        <lucide-icon name="braces" color="var(--color-primary)"></lucide-icon>
                    </a>
                </div>
                <p class="fontStyleLight text-white text-justify text-base">{{ project.description }}</p>
                <ul class="flex flex-row gap-3">
                    @for (tag of project.tags; track tag) {
                        <li class="fontStyleRegular text-white text-base bg-[var(--color-primary)] px-3 py-1 rounded-md">{{ tag }}</li>
                    }
                </ul>
            </div>
        }
    </div>
</section>