<div class="fixed bottom-0 left-10 flex flex-col items-center gap-y-4">
    <a href="https://www.linkedin.com/in/ricardo5oliveira" target="_blank" rel="noopener noreferrer" class="social-anchor">
        <lucide-icon name="github" class="social-icon"></lucide-icon>
    </a>
    <a href="https://github.com/ricardoliveira5ro" target="_blank" rel="noopener noreferrer" class="social-anchor">
        <lucide-icon name="linkedin" class="social-icon"></lucide-icon>
    </a>
    <div class="mt-2 h-32 w-[2px] bg-[var(--color-primary)]"></div>
</div>
