<section class="flex flex-col w-full items-center justify-center gap-8 py-12">
    <div class="flex flex-row items-center justify-center gap-2">
        <lucide-icon name="wand" color="var(--color-primary)" size="32"></lucide-icon>
        <h3 class="fontStyleBold text-white text-center text-4xl">Skills</h3>
    </div>

    <div class="flex flex-wrap w-full justify-center gap-8 px-6">
        <div class="flex items-center gap-4 rounded-md px-4 py-3 bg-[var(--color-secondary)]">
            <img ngSrc="../../../assets/js.png" width="32" height="32">
            <p class="fontStyleBold text-white text-base">Javascript</p>
        </div>

        <div class="flex items-center gap-4 rounded-md px-4 py-3 bg-[var(--color-secondary)]">
            <img ngSrc="../../../assets/js.png" width="32" height="32">
            <p class="fontStyleBold text-white text-base">Javascript</p>
        </div>

        <div class="flex items-center gap-4 rounded-md px-4 py-3 bg-[var(--color-secondary)]">
            <img ngSrc="../../../assets/js.png" width="32" height="32">
            <p class="fontStyleBold text-white text-base">Javascript</p>
        </div>

        <div class="flex items-center gap-4 rounded-md px-4 py-3 bg-[var(--color-secondary)]">
            <img ngSrc="../../../assets/js.png" width="32" height="32">
            <p class="fontStyleBold text-white text-base">Javascript</p>
        </div>

        <div class="flex items-center gap-4 rounded-md px-4 py-3 bg-[var(--color-secondary)]">
            <img ngSrc="../../../assets/js.png" width="32" height="32">
            <p class="fontStyleBold text-white text-base">Javascript</p>
        </div>
    </div>
</section>