@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-background: #0b0b0b;
    --color-primary: #f95f19;
    --color-secondary: #171717;
}

html {
    background-color: var(--color-background);
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

.fontStyleBold {
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.fontStyleRegular {
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.fontStyleLight {
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}